@import url("https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&family=Outfit&display=swap");

:root {
  /* Colour palette */
  --dominant-blue: #002976;
  --secondary-green: #00764d;
  --accent-red: #761301;

  /* Colour variants */
  --green-tint-1: #499d80;
  --green-tint-2: #bddcd1;
  --green-tint-3: #e3fbf0;
  --blue-tint-1: #a4cce6;
  --blue-tint-2: ;
  --red-tint-1: #ffe0da;

  /* Font sizes */
  --fs-lg: 2.5rem;
  --fs-md: 1.2rem;
}

/*----------------------------Resets------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
menu,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Outfit", sans-serif;
}

/*--------------------------Base styles--------------------*/
body {
  /* background: var(--dominant-blue); */
  color: var(--secondary-green);
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-md);
}

section,
header {
  margin: 0.75rem 0;
}

h1,
h2 {
  font-family: "Figtree", sans-serif;
  color: var(--green-tint-1);
}
h2 {
  color: var(--green-tint-3);
  font-size: 1.5rem;
}
p {
  color: var(--green-tint-2);
}

img {
  max-width: 100%;
}

/*--------------------------Utilities---------------------*/
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0.75rem 1.25rem;
}
/* buttons */
.btn {
  display: inline-block;
  padding: 0.7rem;
  background-color: var(--accent-red);
  cursor: pointer;
}
.btn.btn-outline {
  border: 2px solid var(--accent-red);
  background: none;
  color: var(--accent-red);
}
.btn.block {
  display: block;
  width: fit-content;
  margin-bottom: 0.7rem;
}

/* --------------------------Navbar------------------------- */
#navbar {
  position: sticky;
  top: 0;
  background-color: hsl(219, 100%, 23%);
}

#navbar .navbar-container {
  display: flex;
  align-items: center;
}
#navbar #logo {
  margin-right: auto;
  z-index: 2;
}
#navbar #logo img {
  width: 140px;
}
#navbar #nav-links > * {
  padding-inline: 1rem;
}
#navbar .cta {
  margin: 0 0.5rem 0 auto;
  z-index: 1;
  font-size: 0.9rem;
}
#navbar #toggle-menu-button {
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}
#navbar .bars {
  height: 4px;
  width: 100%;
  background: var(--blue-tint-1);
  border: none;
}
#navbar .top-bar {
  position: absolute;
  top: 0;
}
#navbar .bottom-bar {
  position: absolute;
  bottom: 0;
}
#navbar .show-mobile-nav-links {
  background-color: var(--dominant-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
}
#navbar .show-mobile-nav-links > * {
  margin-bottom: 11vh;
}
#navbar .center-vertically {
  top: 0;
  bottom: 0;
  margin: auto;
}
#navbar #toggle-menu-button .opacity-0 {
  opacity: 0;
}
#navbar #toggle-menu-button .rotate-45 {
  rotate: 45deg;
}
#navbar #toggle-menu-button .rotate-315 {
  rotate: 315deg;
}

/*------------------------------Hero---------------------------*/
#hero .hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#hero hgroup {
  margin: 2rem 0 1.5rem;
}
#hero hgroup h1 {
  margin-bottom: 1rem;
}
#hero hgroup p {
  max-width: 670px;
}
#hero .btn.block {
  margin-top: 0.2rem;
}
#hero .ctas p {
  margin-bottom: 0.3rem;
  color: var(--blue-tint-1);
}
#hero .ctas .btn.btn-outline {
  color: var(--red-tint-1);
  border-color: var(--red-tint-1);
}

/*--------------------------Features-------------------------- */
#features .features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 230px), 1fr));
  grid-gap: 1em;
}
#features .feature {
  background-color: var(--green-tint-2);
  padding: 4rem 2rem;
}
#features .feature .feature-contents h3 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
#features .feature p {
  color: var(--green-tint-3);
}
#features .feature i {
  background-color: var(--accent-red);
  color: var(--green-tint-2);
  padding: 0.75rem;
  border-radius: 50%;
}
#features .features-heading {
  padding-inline: 1rem;
  margin: 2rem 0;
}

/*------------------------How it works---------------------*/
#how-it-works .steps {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}
#how-it-works .steps .step {
  margin-bottom: 1rem;
  flex: 1 200px;
}
#how-it-works .steps .step:nth-of-type(4) {
  margin-bottom: 4rem;
}
#how-it-works .steps .step p {
  margin-bottom: 1rem;
}

/*---------------------------Plans---------------------------*/
#plans .plans {
  display: flex;
  flex: 1 150px;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#plans .plans .plan-container {
  background: var(--green-tint-3);
  padding: 3rem;
}
#plans h2 {
  text-align: center;
  margin-bottom: 1rem;
}
#plans .plans .plan-container:nth-of-type(1) {
  background-color: var(--blue-tint-1);
  color: #fff;
}

/*-------------------------Testimonial----------------------*/
#testimonials .testimonials {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}
#testimonials .testimonials .headshot {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 2rem;
  margin: 0 auto;
}
#testimonials .testimonials .fa-quote-left {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#testimonials .testimonials li {
  padding: 2rem;
  background-color: var(--blue-tint-1);
  color: #fff;
  min-width: 300px;
}
#testimonials h2 {
  margin-bottom: 1rem;
}

/*--------------------------CTA--------------------------*/
#cta .cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cta .light-bulb {
  position: relative;
  color: var(--green-tint-3);
  opacity: 0.2;
}
#cta .cta-text {
  position: absolute;
  padding: 2rem;
}
#cta .cta-text p {
  margin: 1rem 0;
}

/*------------------------Media queries---------------------*/

@media screen and (max-width: 767px) {
  #nav-links {
    display: none;
  }
  .show-mobile-nav-links {
    display: flex !important;
  }
}
@media screen and (min-width: 768px) {
  #navbar #nav-links {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  #navbar #toggle-menu-button {
    display: none;
  }
  #hero .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero .hero-container {
    flex-direction: row;
    align-items: center;
  }
  .hero-img {
    max-width: 47%;
  }
}
