body {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* --------------------- Form Styling -------------------- */
#signup-form {
  display: inline-block;
  height: fit-content;
  max-height: 80%;
  padding: 2em;
  border-radius: 1.5em;
  background-color: #004199;
}

.form-fields li {
  margin-bottom: 1em;
}

.form-fields label {
  display: block;
  margin-bottom: 0.7em;
  color: #fff;
  text-transform: capitalize;
}

.form-fields input {
  font: 400 0.9em/1.6 "Figtree", sans-serif;
  padding: 0.8em;
  padding-inline: 1em;
  border: none;
  border-radius: 1.5em;
  width: 100%;
}

.form-fields input:focus {
  outline: none;
}

.required-tag {
  font-size: 0.7em;
  color: rgb(255, 146, 146);
}

.optional-tag {
  font-size: 0.7em;
  color: rgb(185, 207, 253);
}

#signup-form button {
  border: none;
  padding: 1em;
  border-radius: 1.5em;
  font: 400 0.7em/1.6 "Figtree", sans-serif;
  width: 100%;
  font-size: 0.8em !important;
  color: #fff;
  background-color: #fdba61;
}

.continue-as-guest-btn {
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding-block: 0.6em;
}

#signup-form {
  width: 90%;
  max-width: 27em;
}

.or {
  text-align: center;
}

.form-field {
  margin-bottom: 1.75em !important;
}
