body {
  background-color: #e3fbf0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.continue-as-guest-btn {
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding-block: 0.6em;
}

#signup-form {
  width: 90%;
  max-width: 27em;
}

.or {
  text-align: center;
}

.form-field {
  margin-bottom: 1.75em !important;
}
